p {
	font-family: Bubbler One;
	font-size: 3.5vw;
	margin-left: 1.66%;
	margin-right: 1.66%;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

img {
	opacity: 0.6;
	width: 30%;
	float: left;
	margin: 1.66%;
}

img:hover {
    opacity: 1.0;
}